[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
  color: white;
}

[data-rehype-pretty-code-fragment] code {
  display: grid;
  min-width: 100%;
  word-break: break-word;
  border-radius: 0;
  border: 0;
  background: transparent;
  padding: 0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  width: 100%;
  display: inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  color: rgba(250, 250, 250, 0.4);
  font-size: 0.75rem;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  background-color: rgba(63, 63, 70, 0.5);
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  position: relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  border-radius: 0.375rem;
  background-color: rgba(63, 63, 70, 0.5);
  border-color: rgba(63, 63, 70, 0.7);
  padding: 0.25rem;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
  background-color: rgb(24, 24, 27);
}

[data-rehype-pretty-code-title] {
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0.5rem;
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.steps > h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
